.container-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 колонки равной ширины */
    grid-gap: 10px; /* Промежуток между ячейками */
}

.item-menu {
    background-color: #0a7808;
    height: 35px;
    font-size: 25px;
    border-radius: 10px;
    color:aliceblue;
}

.item-menu-text {
    background-color: #ece2e2;
}

.button-poz {
    display: inline;
    margin-left: 10px;
    height: 30px;
    font-size: 25px;
}

.button-dell {
    background-color: #ae0909;
    height: 30px;
    width: 30px;
    color:#ece2e2;
    font-size: 25px;
    border-radius: 50px;
}
