
/* Задать размер шрифта по умолчанию для всего документа. */
html {
    font-size: 16px; /* Задаем стартовый размер шрифта в пикселях */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-auto-rows: 100px; Выберите высоту строк по вашему усмотрению */
    grid-auto-rows: 1.5em;
    grid-gap: 0.5em;
    grid-row-gap: 0.3em; /* Отступ между строками */
    grid-auto-flow: row; /* Это заставит элементы переноситься вниз при нехватке места */
}

/* Общие стили для различных элементов */
.item-menu {
    background-color: #0a7808;
    height: 1.5em;
    font-size: 1em;
    border-radius: 10%;
    color:aliceblue;
}

.item-menu-text {
    background-color: #ece2e2;
    color: black;
}

/* Используется в функции createLine для вывода пунктов записей */
.button-poz {
    display: inline;
    margin-left: 0.5em;
    height: 1.5em;
    font-size: 1em;
}

/* кнопка удаления позиции */
.button-dell {
    background-color: #ae0909;
    height: 1.5em;
    width: 1.5em;
    color:#ece2e2;
    font-size: 1em;
    border-radius: 50%;
    margin-top: 0.5em;
}

.off {
    display: none;
}

/* класс для кнопки настроек */
.button-setting {
    margin: 0.3em;
    height: 2.5em;
    width: 2.5em;
}

.button-setting-div {
    display: inline;
    padding: 5px;
}

/* кнопка созранения настроек */
.item-menu-setting-ok {
    display: block;
    text-align: center;
    line-height: 1.2em;
    font-size: 1em;
    height: 1.3em;
}

.menu-add-ok {
    display: inline;
}

.field-set {
    width: 300px;
}


/* Стили для маленьких экранов (ширина менее 600px) */
@media screen and (max-width: 600px) {
    .button-setting-div {
        padding: 0px;
    }

    .item-menu-text {
        height: 4em;
        font-size: 3.8em;
        border-radius: 20%;
        width: 300px;
    }

    .item-menu {
        height: 4em;
        font-size: 3.8em;
        border-radius: 20%;
        margin-top: 10px;
    }

    .button-setting {
        margin: 1em;
        width: 3.8em;
        height: 3.8em;
        border-radius: 20%;
    }
}
